{% extends 'loads/frontendbase.html' %}

{% block content %}
    <p><b>About us:</b><br>
    All Points Bulk Transport, LLC has just begun operations on 1/1/15. This
    does not by any means imply that the owner has not worked in logistics for
    specialized equipment. Beth Wilson began her career in 1980, while
    operating a transportation business with her husband. They specialized in
    dump trailer operations throughout the United States and Canada
    transporting all manner of cargo from shelled corn, stone, asphalt, coal,
    coke, produce (in season), sand, and recycled materials. Beth was fully
    involved in that business for 27 years until the business was sold in 2007.
    The only way the sale would go through was if Beth would stay for 12 months
    and help with the transition. She stayed two years and then went to work
    with a very reputable brokerage that specialized in dump trailers. Beth has
    been in logistics for specialized dumps for a total of 34 years. She had
    always dreamed of owning her own brokerage and now that dream is being
    realized. Her goal is to provide individual motor carriers with loads that
    they might otherwise not be aware of. With a dedicated following, she will
    be able to provide individual motor carriers the abillity to be in a fleet
    that is capable of working on big contracts that might not otherwise be
    available to them.
    <br><br>
    <p>Beth is very familiar with all aspects of the trucking industry and
    stays informed of all changes being made almost daily about DOT rules and
    regulations. All Points is a member of NASTC and uses "Carrier 411" and the
    DOT safer website to monitor carriers. All-Points is always monitoring
    carriers for any problems that may arise with their ability to perform the
    task at hand. Beth is making it a goal to always act in a proactive
    approach to the business versus a reactionary approach.<br><br>
    
    <p>Beth recieved her Bachelor's of Business Administration, magna cum laude,
    from Montreat College and an Associate of Management from Asheville
    Buncombe Technical College.<br><br>
    
    <p>In conclusion, the sky is the limit by placing faith first and living by
    the golden rule. We hope you will join us for this exciting ride of our
    lives.<br><br><br>

    <p>The Lord will guide you always. - Isaiah 58:11<br>
{% endblock %}
