{% extends 'loads/frontendbase.html' %}
  
{% block content %}
    <p><b>Carrier contact page</b><br>
    <b>Contact Us:</b><br>
    117 Blackberry Lane<br>
    Fairview, NC 28730<br><br>
    Toll Free: 844-422-2100<br>
    Office:    828-628-0206<br>
    Fax:       828-628-8020<br>
    www.allpointsbulk.com<br><br><br>

    2nd Office Location<br><br>
    P.O. Box 276<br>
    Summerton, SC 29148<br><br><br>

    I can do everything through Christ, who gives me strength.<br>
    -Philippians 4:13<br>
{% endblock %}
