{% extends 'loads/frontendbase.html' %}
{% block content %}

    <p>ALL-Points Bulk Transport, LLC, was started by Beth Wilson to bridge
    the gap between qualified Motor Carriers and Customers transporting bulk
    commodities throughout the United States. Beth has developed a long
    standing relationship with many customers and wishes to put carriers with
    loads that will maximize their profit line.<br>
    <p>To our customers and future customers, please feel free to call or email
    and quotes will be worked up quickly and advise of availability. We will
    not over promise.<br>
    <p>Beth brings 35 years of logistic experience specializing only in dump
    trailers. She has owned trucks and understands both sides of the trucking
    equation. She will treat the drivers with the respect they deserve and will
    continue working to get a fair price for the freight hauled.<br>
    <p>Our motor carrier list is growing every day and if this sounds like the
    opportunity you have been looking for, we would be happy to discuss
    qualifications and specifics with you. So don't delay, call today.<br>
    <br><br>
    <b>Toll Free:</b> 844.422.2100<br>
    <b>Office:</b>    828.628.0206<br>
    <b>Fax:</b>       828.628.8020<br>
    <b>Email:</b>     ibtrkg@aol.com<br></p>
{% endblock %}
