{% extends 'loads/frontendbase.html' %}
{% block content %}
    <p><b>Customers:</b><br>
    All Points Bulk Transport, LLC, excels at delivering the customer
    products in a timely, safe and efficient manner. We will continually work
    to provide competitive rates while maintaining trust with open lines of 
    communication. We will only use motor carriers that have met all guidelines
    necessary to provide the excellent service that our customers deserve. We
    will be honest and be forthright in our ability to meet schedules and
    demands of customers.<br><br>

    <p><b>Motor Carriers:</b><br>
    All Points Bulk Transport, LLC, will provide loads that enable the
    motor carrier to make the best use of their equipment for a very competitive
    rate. We promise to pay quickly and offer a quick pay program. We will
    work with the motor carrier to get to his/her home destination as often as
    they desire. You will be treated like part of the family, because you are.
    We know that there needs to be a liaison between customers and carriers and
    that broker fees need to be in line, where the carrier can make a good
    living since the carrier can make a good living since the carrier is the
    one with the most liability. It is our promise to diligently work together
    and always be willing to listen.<br><br>

    <p><b>Employees:</b><br>
    All Points Bulk Transport, LLC, will provide a stable working environment
    to our employees and pay above company standards, because we expect the
    best and we desire the best for our employees. Our employees will be our
    liaison between carriers and customers and will perform with an exemplary
    conduct at all times.<br><br>

    <p><i>All Points Bulk Transport, LLC, will always strive to develop working
    relationships between carriers and customers. We have set the benchmark
    high and will provide an honest and transparent business to all that work
    with us. Our goal is to be above reproach with all that come in contact
    with us.</i><br><br>


    <p>The Lord your God will bless you in all your harvest and in all the 
    work of your hands, and your joy will be complete. -Deuteronomy 16:15<br>
{% endblock %}
