<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>          
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>   
        <script>                                                                
            $(function() {                                                      
                $( ".datepicker" ).datepicker();                                
            });                                                                 
        </script>                        

    </head>
    <header>
        <a href="/logout/">Logout</a>                                           
        <a href="/newCustomer/">Add Customer</a>                                
        <a href="/customerList/">Customer List</a>                              
        <a href="/newCarrier/">Add Carrier</a>                                  
        <a href="/carrierList/">CarrierList</a>                                 
        <a href="/newLoad/">Add Load</a>                                        
        <a href="/home/">Home</a> 
    </header>
    
    <h1> add new carrier </h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

</html>

